/**
 * ROFI Color theme
 * User: Qball
 * Copyright: Dave Davenport
 * modified by: Razigli
 */

@import "values.rasi"

* {
  /* Default background color */
	background-color: @default-background-color;
    font: @default-font;
}


window {
	padding: @default-padding;

	border-color: @default-active-border-color;
	border:  @default-border-size;
	border-radius: @default-window-border-radius;

	background-color: @default-window-background-color;

}

mainbox {
	spacing: @default-spacing;
	children: [inputbar,listview];
}

inputbar {
	spacing: @default-spacing;
	children: [ entry,overlay,case-indicator];
}

inputbar, message {
	padding: @default-padding;
	border-color: @default-active-border-color;
	border:  @default-border-size;
	border-radius: @default-border-radius;
}

listview {
	columns: 3;
	lines: 3;
	spacing: @default-spacing;
}

element {
	padding: @default-padding;
    orientation: vertical;
	children: [ element-icon, element-text ];
	border-radius: @default-border-radius;
	border-color: @default-normal-border-color;
	border:  @default-border-size;
}

element-icon {
	size: 5em;
}

element selected {
	border-color: @default-active-border-color;
}

element-text {
	horizontal-align: 0.5;
	text-color: @default-text-color;
}

entry {
	padding: @default-padding;
	text-color: @default-text-color;
}
