/*
 * ROFI color theme
 *
 * Based on Base16 Material Color Scheme (https://github.com/ntpeters/base16-materialtheme-scheme)
 *
 * Modified by: Dave Davenport
 * User: Tomaszal
 * Copyright: Tomas Zaluckij
 * modified by: Razigli
 */
@import "values.rasi"

* {
	background-color: @default-background-color;
	font: @default-font;
}

window {
	transparency: "real";
	background-color: @default-window-background-color;
	border: @default-border-size;
	border-color: @default-active-border-color;
	border-radius: @default-window-border-radius;
}

mainbox {
	children: [inputbar, message, mode-switcher, listview];
}

inputbar {
	margin: @default-margin;
	children: [prompt, textbox-prompt-colon, entry, case-indicator];
	border-color: @default-active-border-color;
	padding: @default-padding;
	border: @default-border-size;
	border-radius: @default-border-radius;
}

prompt {
	text-color: @default-text-color;
}

textbox-prompt-colon {
	expand: false;
	str: " : ";
	margin: @default-prompt-margin;
	text-color: @default-text-color;
}

entry {
	text-color: @default-text-color;
}

case-indicator {
	text-color: @default-text-color;
}

mode-switcher, message {
	margin: @default-margin;
}

textbox {
	text-color: @default-text-color;
	padding: @default-padding;
	border: @default-border-size;
	border-radius: @default-border-radius;
	border-color: @default-active-border-color;
}

button, {
	text-color: @default-text-color;
	padding: @default-padding;
	border: @default-border-size;
	border-radius: @default-border-radius;
	border-color: @default-normal-border-color;
}

button selected {
	highlight: bold;
	border-color: @default-active-border-color;
}

listview {
	margin: @default-margin;
	lines: 7;
	spacing: @default-spacing;
}

element {
	padding: @default-padding;
	spacing: @default-spacing;
	border-radius: @default-border-radius;
	border: @default-border-size;
	children: [element-icon, element-text];
}
element-text, element-icon {
	text-color: @default-text-color;
}

element normal {
	border-color: @default-normal-border-color;
}

element selected {
	border: @default-border-size;
	border-color: @default-active-border-color;
	border-radius: @default-border-radius;
	highlight: bold;
}
