/**
 * ROFI Color Theme
 *
 * Fullscreen theme with switchable PREVIEW option.
 * 
 * User: Dave Davenport
 * Copyright: Dave Davenport
 * modified by: Razigli
 */

@import "values.rasi"

* {
	background-color: transparent;
	font: @default-font;
}

window {
	background-color: @default-window-background-color;
	children: [ wrap, listview-split];
	padding: @default-padding;
	spacing: @default-spacing;
	border: @default-border-size;
	width: 1100px;
	border-radius: @default-window-border-radius;
	border-color: @default-active-border-color;
}


/** We add an extra child to this if PREVIEW=true */
listview-split {
	orientation: horizontal;
	spacing: @default-spacing;
	children: [listview];
}

wrap {
	expand: false;
	orientation: vertical;
	children: [ inputbar, message ];
	border: @default-border-size;
	border-radius: @default-border-radius;
	border-color: @default-active-border-color;
	border-radius: @default-border-radius;
}

icon-ib {
	expand: false;
	filename: "system-search";
	vertical-align: 0.5;
	horizontal-align: 0.5;
	size: 1em;
}
inputbar {
	spacing: @default-spacing;
	padding: @default-padding;
	children: [ entry ];
}
entry {
	text-color: @default-text-color;
}
message {
	background-color: @default-background-color;
	border-color: @default-active-border-color;
	border: @default-border-size;
	padding: @default-padding;
	spacing: @default-spacing;
}

listview {
	spacing: @default-spacing;
}

element {
	orientation: vertical;

	border-color: @default-normal-border-color;
	border: @default-border-size;
	border-radius: @default-border-radius;

	children: [ element-text ];
}

element-text {
	horizontal-align: 0.5;
	vertical-align: 0.5;
	padding: @default-padding;
	text-color: @default-text-color;
}

element selected {
	border-color: @default-active-border-color;
	border: @default-border-size;
	border-radius: @default-border-radius;
}

/**
 * Launching rofi with environment PREVIEW set to true
 * will split the screen and show a preview widget.
 */
@media ( enabled: env(PREVIEW, false)) {
  /** preview widget */
  icon-current-entry {
	border-color: @default-active-border-color;
	border: @default-border-size;
	border-radius: @default-border-radius;
    expand:          false;
    size:            70%;
  }
  listview-split {
    children: [listview, icon-current-entry];
  }
  listview {
	  lines: 12;
  }

}

@media ( enabled: env(NO_IMAGE, false)) {
	listview {
		columns: 1;
		spacing: @default-spacing;
	}
	element {
		children: [ element-text ];
	}
	element-text {
		horizontal-align: 0.0;
	}
}
